<!DOCTYPE html>
<html lang="pt-br">

<%- include("includes/head", {title:"Fake Instagram - Home"}) %>

<body>
  <%- include('includes/header', { nameUser: user.name }) %>

  <main class="container content-home">

    <% publications.forEach(publication => { %> 
    <div class="card">
      <div class="card-header">
        <div>
          <img class="avatar" src="/img/example-user.png">
          <b> <%= publication.User.username %> </b>
        </div>
        <img src="/img/icons/more-vertical.svg">
      </div>

      <div class="card-img">
        <img src="/posts/<%= publication.image %>">
      </div>
      <div class="card-body">
        <div class="card-itens">
          <div class="likes">
            <img src="/img/icons/heart.svg">
            <b><%= publication.like %> likes</b>
          </div>
          <b>Postado no dia: <%= moment(publication.create_at).format('DD/MM/YYYY') %></b>
        </div>
        <div class="card-comments">
          <% publication.Comments.forEach(comment => { %> 
            <p><b><%= comment.User.username %></b> <%= comment.description %></p>
          <% }) %> 
        </div>
      </div>

      <!-- Podemos mandar o id do post pela rota, basta colocar publication.id na action -->
      <form class="form-comments" method="POST" action="/home">
        <!-- O hidden faz o input ficar em oculto -->
        <input type="text" name="idPost" hidden value="<%= publication.id %>">
        <input type="text" name="description" placeholder="Adicione um comentário...">
        <button type="submit">Publicar</button>
      </form>
    </div>

    <% }) %> 
  </main>

</body>

</html>